.footer {
    background-color:#EE4248;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    bottom: 0hv;
    width: 100%;
}

.copyright {
    color: white;
    font-size: .8rem;
}