.navbar {
    height: 60px;
    box-shadow: 0px 1px 1px 0px lightgrey;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-content, .nav-icons {
    display: inline;
}

.nav-items{
    color: black;
    font-size: .9rem;
    text-decoration: none;
    margin: 0 20px;
}

.nav-icons {
    position: absolute;
    right: 10%;
}

.icons {
    color: black;
    font-size: .9rem;
    text-decoration: none;
    margin: 0 16px;
}